.main {
  width: 100vw;
  display: grid;
  place-items: center;
  background-image: url('../public/images/pattern-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.main > * {
  margin-top: 25px;
}

.main > h1 {
  color: white;
  font-weight: 500;
}

.input-control {
  display: flex;
  width: 30vw;
}

.input-control > input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
  flex: 1;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--Very-Dark-Gray);
  cursor: pointer;
}

.submit-button {
  cursor: pointer;
  width: 55px;
  background-color: var(--Very-Dark-Gray);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url('../public/images/icon-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.output-box {
  display: flex;
  width: 80%;
  background-color: white;
  border-radius: 12px;
  padding: 2rem 1rem;
  position: relative;
  top: 50%;
  margin-top: 0;
  font-weight: 700;
}

.output-box h1 {
  text-align: center;
  width: 100%;
}

.output-card {
  text-align: left;
  flex: 1;
  overflow: hidden;
  border-right: 3px solid var(--Dark-Gray);
  padding: 0 1rem;
  /* border: 1px solid red; */
}

.output-card:nth-child(2) .output-info > * {
  display: block;
}

.output-card:last-child {
  border-right: none;
}

.output-header {
  color: var(--Dark-Gray);
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.output-info {
  font-size: 1.75rem;
  color: var(--Very-Dark-Gray);
}

@media only screen and (max-width: 1550px) {
  .input-control {
    width: 45vw;
  }

  .output-box {
    width: 90%;
  }

  .input-control input {
    font-size: 1rem;
  }

  .output-info {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 1000px) {
  .output-box {
    flex-direction: column;
    align-items: center;
    gap: 0;
    position: absolute;
    padding: 1rem;
    top: 60%;
    width: 88vw;
  }

  .output-card {
    text-align: center;
    margin-bottom: 15px;
    border-right: none;
  }

  .output-header {
    font-size: 0.55rem;
  }

  .output-info {
    font-size: 1rem;
  }

  .input-control {
    width: 88vw;
    margin-bottom: 40vw;
  }

  .output-header {
    margin-bottom: 7px;
  }
}
